{% extends 'main/base.html' %}

{% load static %}

{% block title %}Sign In{% endblock %}


{% block content %}

<div class="container" >
    
  <div class="row text-center d-flex justify-content-center gap-3">
          <h2>Sign In</h2>
          {% if msg %}
          <div class="alert alert-danger" role="alert">
              {{ msg }}
            </div>
          {% endif %}
      <div class="col-6 border border-5">
          <form class="d-flex flex-column gap-3 p-3" action="{% url 'accounts:signin' %}" method="POST">
              {% csrf_token %}
              <input class="form-control" type="text" name="username" required  placeholder="user name"/>
              <input class="form-control" type="password" name="password" required  placeholder="Password"/>

              <input class="btn btn-primary" type="submit" value="Sing In" />
          </form>
          <div>
            <p>to sign up Click <a href="{% url 'accounts:signup' %}">here</a></p>
          </div>
      </div>
  </div>
</div>

{% endblock %}