* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgba(192, 192, 192, 0.541);
  
}


.wrapper {
    min-height: 70vh;
}

p {
    white-space: pre-wrap;
   
}
.poster {
    height: 100px;
    object-fit: cover;
}

.detail-poster {
    max-height: 30vh;
}

.h3{
    
    justify-content:center
    
}

h3{
  color: rgb(0, 0, 0);
}

.checked {
    color: orange;
}

.fav-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.favored i{
    color: red;
 
}
.avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.social {
    font-size: 2rem;
    color: black;
}

.social:hover {
    color: red;
}

.actor-img {
    height: 300px;
    object-fit: cover;
}

  

