{% extends 'main/base.html' %}
{% load static %}

<title>
    {% block title %}Sign Up {% endblock %}
</title>

{% block content %}
<div class="container">
    
            <div class="row pt-5"> 
                <div class ="col bg-light"> <br>
                    <h3>Sign Up</h3>
                 
                    <form  action="{% url 'account:sign_up_view' %}"  method="post" style="width: 26rem; padding: 40px;">
                                {% csrf_token %}
                            
                            <!-- UserName input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                                <label class="form-label" for="form4Example1">First Name</label>
                                <input class="form-control" type="text" name="first_name" required minlength="3" />
                            </div>

                            <!-- First Name input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="form4Example1">Last Name</label>
                            <input class="form-control"  type="text" name="last_name" required minlength="3" />
                            </div>

                            <!-- Last Name input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="form4Example1">Username</label>
                            <input class="form-control" type="text" name="username" required minlength="3"/>
                            </div>

                            <!-- Email input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="form4Example2">Email address</label>
                            <input class="form-control" type="email" name="email" required minlength="3" />
                            </div>
                        
                            <!-- Password input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="form4Example3">Password</label>
                            <input class="form-control" type="password" name="password" required minlength="8" />
                            </div>

                            <input type="submit" class="btn btn-primary" value="Sign up">

                            <p>Already have account <a href="{% url 'account:sign_in_view' %}">Sign in</a></p>
                    </form>
            </div>
            
        </div>
</div>

{% endblock%}
