{% extends 'main/base.html' %}

{% block title %} {{ blog.titel }} {% endblock %}

{% block content %}

<section class="container row m-4 p-4">
        <div class="row ">
            <div class="col">
            <div class="d-flex flex-column gap-2">
            <h2>Title: {{ blog.title }}</h2>
            <img src="{{blog.poster.url}}" width="90%" height="300" style="display: cover;" />
            <h4>Content: <br>{{ blog.content }}</h4>
            <h4>is published: {{ blog.is_published }}</h4>
            <h4>published at: {{ blog.published_at }}</h4>
            <h4>category: {{blog.category}}</h4>
            <div class="row">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle col-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">Edit</button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'blogs:update' blog.id %}">Update</a></li>
                  <li><a class="dropdown-item" href="{% url 'blogs:delete' blog.id %}">Delete</a></li>
                </ul>
              </div>
              <a href="{% url 'blogs:read'%}"><button type="button" class="btn btn-primary col-3 mt-3"> all blogs</button></a>
            </div>
          </div>
            </div>
        </div>

        <div>
          <h2>Comments:</h2>
            <div class="col">
              <div class="d-flex flex-column gap-2">
                {% for review in reviews %}
                  <div class="d-flex flex-column gap-2">
                    <h3 >{{ review.name }}</h3>
                    <h6 >{{ review.date_add }}</h6>
                    <h6>{{review.rating}}</h6>
                    <p>{{ review.comment }}</p>
                  </div>
                {% endfor %}
              </div>
            </div>
        </div>
<br>
<br>
<br>
<br>
        <section class="row mt-20">
          <h2>Add Comment:</h2>
          <div class="col-6">
    
            <form class="d-flex flex-column gap-2" action="{% url 'blogs:detail' blog.id  %}" method="POST">
              {% csrf_token %}
              <input type="text" class="form-control"  name="name" placeholder="Name..."/>
              <select class="form-select" name="rating" placeholder="Rating...">
                <option value="⭐️">⭐️</option>
                <option value="⭐️⭐️">⭐️⭐️</option>
                <option value="⭐️⭐️⭐️">⭐️⭐️⭐️</option>
                <option value="⭐️⭐️⭐️⭐️">⭐️⭐️⭐️⭐️</option>
                <option value="⭐️⭐️⭐️⭐️⭐️">⭐️⭐️⭐️⭐️⭐️</option>
              </select>
    
              <textarea class="form-control" name="comment" placeholder="Your Comment..."></textarea>
    
              <input type="submit" value="Add Comment" class="btn btn-primary" />
            </form>
    
    
          </div>
        </section>


</section>



{% endblock %}