{% extends 'main/base.html'  %}



{% block title %} home page {%endblock%}


{% block content %} 


<div class="jumbotron ">
    <h1>Welcome to our blog</h1> 
    <p>We specialize in blogs pages</p> 
  </div>



  <hr />
  <div class="container fixed-bottom ">
    <div class="row ">
      <h1 class="text-info"> All Reviews: </h1>
            {% for review in reviews %}
            <div class="col-4 border shadow rounded-4 ">

            <div class="d-flex justify-content-between ">
              <h2>{{review.neme}}</h2>


              {% if request.user.is_superuser %}

              <button class="btn btn-primary p-3 m-3"> <a href="{% url 'main:delete_comment_view' review.id %}"> <span class="text-white">Delete</span> </a> </button>
              {% endif %}

            
            </div>
            
           <p>{{review.comment}}</p> 
            <p class="opacity-50">{{review.created_at}}</p>

          </div>
            {% endfor %}
        
    </div>
</div>




{%endblock%}
