{% extends 'main/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}


    <div class="wrapper homepage-content" >
        <div class="sub-content">

        <h1 style="font-size: 50px;">Welcome to blog</h1>
        </div>
    </div>
    <section class="container">

        <div  style="display: flex; justify-content: center; align-items: center; margin-top: 30px;">
            <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/home3.jpg?alt=media&token=aca686df-6d92-4190-ad78-b8bbbd2aa788"  width="400px" height="500px"> 
            <div class="m-4 gap-1">
                <h1>Choose from the list what you want</h1>
                <div class="row gap-2 m-2">
                  
                        <a  type="button" class="btn btn-light btn-lg col" href="{% url 'blogs:add'%}">Add blog</a>
                        <br>
                        <br>
                        <a type="button" class="btn btn-light btn-lg col" href="{% url 'blogs:read'%}">Read blog</a>
                  
                </div>
            </div>
            
        </div>

    <hr/>


    <div>
        <h2>Comments:</h2>
          <div class="">
            <div class="d-flex flex-row gap-4 ">
              {% for review in reviews %}
                <div class="d-flex flex-column border border-black border-1 gap-2 p-3">
                  <h3 >{{ review.name }}</h3>
                  <p>{{review.rating}}</p>
                  <p >{{ review.date_add }}</p>
                  <p>{{ review.comment }}</p>
                </div>
              {% endfor %}
            </div>
          </div>
      </div>

    </section>  


{% endblock %}